.userBox {
    font-size: 28px;
    font-weight: 300;
}
.container {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background-color: #D0D0D0;
    min-height: 600px;
}

.error {
    color: red;
    font-size: 9px;
}